@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #212121
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .8;
}

ul {
    list-style: none;
}

/***** アイコンフォント　*****/
.material-symbols-outlined {
  font-variation-settings:
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.fill {
  font-variation-settings:
  'FILL' 1
}


/***** サイドバー　*****/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 244px;
    height: 100vh;
    border-right: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


/* ロゴ */
.logo {
    font-family: "Italianno" ,cursive;
    font-weight: 400;
    font-style: normal;
    font-style: 40px;
    padding-left: .5em;
    margin-bottom: .5em;
}

/* グロナビ・サブナビ共通 */
.g-nav a,
.sub-nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px;
}

/* サブナビ */
.sub-nav {
    margin-top: auto;
}

/***** メインエリア　*****/
main {
    background: #f1f1f1;
    margin-left: 244px;
    padding: 40px 0;
}


/* ストーリー */
.story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 640px;
    margin: 0 auto 40px;
}

.story-ring {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(
        45deg,
         #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}
  
/* 投稿画面 */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}